{
    "env": {
        "mocha": true,
        "node": true
    },
    "rules": {
        "quotes": 0,
        "strict": 0,
        "semi": 0,
        "no-unused-expressions": 0,
        "no-underscore-dangle": 0
    }
}